<header class="navbar navbar-light navbar-fixed-top navbar-expand-lg">

    <a class="navbar-brand" routerLink="current"><img src="../../../assets/images/logo_ithubbs.svg"
                                                                    width="117" height="73"></a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="current">Aktuelles<span
                    class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="gruppen">Gruppen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="orga">Für Organisatoren</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="use">How to use</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="mission">Mission Statement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="impressum">Impressum</a>
            </li>
        </ul>
    </div>
</header>

<p>
<router-outlet></router-outlet>
</p>

<jhi-footer></jhi-footer>
