<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<!--<div>-->
    <!--<router-outlet name="navbar"></router-outlet>-->
<!--</div>-->
<!--<div class="container-fluid">-->
    <!--<div class="card jh-card">-->
        <!--<router-outlet></router-outlet>-->
        <!--<router-outlet name="popup"></router-outlet>-->
    <!--</div>-->
    <!--<jhi-footer></jhi-footer>-->
<!--</div>-->
<h1>IT-Hub Braunschweig</h1>

<h2>Lokale Gruppierungen</h2>
Reihenfolge alphabetisch.

<table>
    <tr>
        <th>Gruppe</th>
        <th>Beschreibung</th>
    </tr>
    <tr>
        <td>
            <a href="https://hacktalk.de/" target="_blank">HackTalk</a>
        </td>
        <td>
            Monatlich stattfindende Gesprächsrunde mit Vorträgen in kleinem Kreis.
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.jug-ostfalen.de" target="_blank">JUG Ostfalen</a>
        </td>
        <td>
            Lokale Java User Group. Monatliche Vorträge.
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://royaljs.de" target="_blank">Royal JS</a>
        </td>
        <td>
            Lokale Java Script User Group.
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.meetup.com/de-DE/Software-Craftsmanship-Brunswick/" target="_blank">Software Craftsmanship Brunswick</a>
        </td>
        <td>
            Regelmäßig stattfindende Coding Katas.
        </td>
    </tr>
</table>

<h2>Regionale Konferenzen</h2>
<table>
    <tr>
        <th>Konferenz</th>
        <th>Location</th>
        <th>Beschreibung</th>
    </tr>
    <tr>
        <td>
            <a href="https://javaforumnord.de/" target="_blank">Java Forum Nord</a>
        </td>
        <td>
            Hannover
        </td>
        <td>
            Eintägige, Java-zentrierte Konferenz.
        </td>
    </tr>
</table>

<h2>Mach mit bei IT-Hub Braunschweig</h2>
<ul>
    <li><a href="https://github.com/stevenschwenke/ithubbs" target="_blank">Verbessere die Plattform</a></li>
    <li><a href="https://twitter.com/ithubbs" target="_blank">Twittere!</a></li>
</ul>
