<nav class="navbar navbar-expand-lg navbar-light bg-light header">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/logo_ithubbs_235x145px.png" width="117" height="73"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="showTab('home')">Aktuelles<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="showTab('groups')">Gruppierungen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="showTab('for_organizers')">Für Organisatoren</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="showTab('mission_statement')">Mission Statement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="showTab('imprint')">Impressum</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div *ngIf="tabToShow === 'home'">
        <h1>Willkommen beim IT-Hub Braunschweig!</h1>

        <p>Das IT-Hub Braunschweig unterstützt die aktive Entwickler-Community im lebendigen, sich entwickelnden IT-Zentrum Braunschweig.</p>

        <jhi-upcoming-events></jhi-upcoming-events>

        <jhi-regional-conferences></jhi-regional-conferences>

        <jhi-current-campaigns></jhi-current-campaigns>
    </div>


    <div *ngIf="tabToShow === 'groups'">
        <h1>Gruppierungen</h1>

        <jhi-local-groups></jhi-local-groups>

    </div>

    <div *ngIf="tabToShow === 'for_organizers'">
        <h1>Für Organisatoren</h1>
        <p>
            Du möchtest selbst eine neue Gruppe organisieren? Hier findest du wichtige Informationen.
        </p>
        <jhi-jour-fixes></jhi-jour-fixes>
    </div>

    <div *ngIf="tabToShow === 'mission_statement'">
        <h1>Mission Statement</h1>

        <jhi-mission-statement></jhi-mission-statement>
    </div>

    <div *ngIf="tabToShow === 'imprint'">
        <h1>Impressum</h1>

        <jhi-imprint></jhi-imprint>
    </div>
</div>
<jhi-footer></jhi-footer>
