<h2>Aktuelle Veranstaltungen</h2>
<p>
    Hier findest du eine Übersicht der anstehenden Veranstaltungen aller Gruppen in Braunschweig.
</p>
<table class="table table-responsive">
    <tr>
        <th>Datum</th>
        <th>Event</th>
    </tr>
    <!--<tr>-->
        <!--<td>12.03.2018</td>-->
        <!--<td><a href="https://www.meetup.com/de-DE/Software-Craftsmanship-Brunswick/events/gzhqbpyxfbqb/" target="_blank">Coding Dojo - Kata</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>15.03.2018</td>-->
        <!--<td><a href="http://www.jug-ostfalen.de/event/2018/03/15/ddd.html" target="_blank">It's all about the domain, honey – Fachliche Architektur für Java mit DDD</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>05.04.2018</td>-->
        <!--<td><a href="http://www.jug-ostfalen.de/event/2018/04/05/garbage-collector.html" target="_blank">Shenandoah - ultra-low pause time garbage collector</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>09.04.2018</td>-->
        <!--<td><a href="https://www.meetup.com/de-DE/Software-Craftsmanship-Brunswick/events/gzhqbpyxgbmb/" target="_blank">Software Craftsmanship Brunswick Coding Dojo - Kata</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>10.04.2018</td>-->
        <!--<td><a href="http://dotnet-bs.de/?event=usability-faengt-mit-requirements-engineering-an-katz-maus-smartes-anforderungsmanagement-mit-agilen-methoden&event_date=2018-04-10" target="_blank">.NET Developer Group Braunschweig: Usability fängt mit Requirements Engineering an | Katz & Maus – Smartes Anforderungsmanagement mit agilen Methoden</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>24.04.2018</td>-->
        <!--<td><a href="https://www.xing.com/events/hacktalk-braunschweig-angular-jhipster-royaljs-bs-1938792" target="_blank">HackTalk Braunschweig: JHipster und Angular + RoyalJS, die JavaScript User Group in Braunschweig</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>03.05.2018</td>-->
        <!--<td><a href="https://www.meetup.com/de-DE/Braunschweig-Artificial-Intelligence-Meetup/events/249826802/" target="_blank">Second Braunschweig AI Meetup</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>08.05.2018</td>-->
        <!--<td>-->
            <!--<a href="https://www.xing.com/events/hacktalk-wolfsburg-dsgvo-software-engineering-ostfalia-1933830" target="_blank">HackTalk Wolfsburg: DSGVO + Software Engineering an der Ostfalia</a><br>-->
            <!--<a href="https://www.meetup.com/de-DE/GDG-Braunschweig/events/248972231/" target="_blank">Google I/O Extended Braunschweig</a>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>14.05.2018</td>-->
        <!--<td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a><br>-->
            <!--<a href="https://www.meetup.com/de-DE/Software-Craftsmanship-Brunswick/events/gzhqbpyxhbsb/" target="_blank">Software Craftsmanship Brunswick: Coding Dojo - Kata</a>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>15.05.2018</td>-->
    <!--<td><a href="http://dotnet-bs.de/?event=unit-testing-im-kampf-gegen-legacy-code-und-historisch-gewachsen&event_date=2018-05-15" target="_blank">.NET Developer Group Braunschweig: Unit Testing – Im Kampf gegen „Legacy Code“ und „historisch gewachsen“!</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>29.05.2018</td>-->
        <!--<td><a href="https://www.xing.com/events/hacktalk-braunschweig-impressionen-ccc-1945684" target="_blank">HackTalk Braunschweig: Impressionen vom CCC</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>30.05.2018</td>-->
        <!--<td><a href="https://www.meetup.com/de-DE/Braunschweig-C-Meetup/events/250421179/?gj=wcs1_e&rv=wcs1_e&_xtd=gatlbWFpbF9jbGlja9oAJDZkOGU2YTliLTFkZmEtNGQ2OS05ZGJmLTMzZmJmZWU5YWIzYw&_af=event&_af_eid=250421179" target="_blank">Braunschweig C++ Meetup: 01: EXPECT_TRUE(meetup.getPlace() != Places::ZeaBar);</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>31.05.2018</td>-->
        <!--<td><a href="https://www.jug-ostfalen.de/event/2018/05/31/spring-data-neo4j.html" target="_blank">JUG Ostfalen: Beziehungsmanagement mit Spring Data Neo4j</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>11.06.2018</td>-->
        <!--<td><a href="https://www.eventbrite.de/e/webmontag-braunschweig-tech-talk-rund-ums-web-tickets-46220829746" target="_blank">Webmontag Braunschweig - Tech Talk rund ums Web</a><br>-->
            <!--<a href="https://www.meetup.com/de-DE/Software-Craftsmanship-Brunswick/events/gzhqbpyxjbpb/" target="_blank">Software Craftsmanship Brunswick: Coding Dojo - Kata</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>12.06.2018</td>-->
        <!--<td><a href="http://royaljs.de" target="_blank">RoyalJS</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>14.06.2018</td>-->
        <!--<td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>21.06.2018</td>-->
        <!--<td><a href="https://www.jug-ostfalen.de/event/2018/06/21/compilers-everywhere.html" target="_blank">JUG Ostfalen: Compilers everywhere</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>23.06.2018</td>-->
        <!--<td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo (Kinder und Jugendliche bis 15 Jahre)</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>27.06.2018</td>-->
        <!--<td><a href="https://www.meetup.com/de-DE/Braunschweig-Cpp-Meetup/events/251611035/" target="_blank">Braunschweig C++ Meetup: 02: // TODO: pick title</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>12.07.2018</td>-->
        <!--<td><a href="https://www.tu-braunschweig.de/isf/news/tdse2018" target="_blank">Tag der jungen Softwareentwickler (TDSE 2018)</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>14.07.2018</td>-->
        <!--<td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>19.07.2018</td>-->
        <!--<td><a href="https://www.jug-ostfalen.de/event/2018/07/19/bessere-praesentationen.html" target="_blank">JUG Ostfalen: The When-To-Stop Kata</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>21.07.2018</td>-->
        <!--<td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo (Kinder und Jugendliche bis 15 Jahre)</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>25.07.2018</td>-->
        <!--<td><a href="https://www.meetup.com/de-DE/Braunschweig-Cpp-Meetup/events/252606481/" target="_blank">Braunschweig C++ Meetup: 03: July Meetup</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>31.07.2018</td>-->
        <!--<td><a href="https://www.xing.com/events/hacktalk-braunschweig-windows-subsystem-for-linux-1970977" target="_blank">HackTalk Braunschweig: Windows Subsystem for Linux</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>08.08.2018</td>-->
        <!--<td><a href="https://www.meetup.com/de-DE/Braunschweiger-Technology-Meetup/events/252700092/" target="_blank">Braunschweiger Technology Meetup #3</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>13.08.2018</td>-->
        <!--<td><a href="https://www.meetup.com/de-DE/Software-Craftsmanship-Brunswick/events/gzhqbpyxlbrb/" target="_blank">Coding Dojo - Kata</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>14.08.2018</td>-->
        <!--<td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>16.08.2018</td>-->
        <!--<td><a href="https://www.jug-ostfalen.de/event/2018/08/16/functional-libraries-java8.html" target="_blank">JUG Ostfalen: Functional Libraries for Java</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>18.08.2018</td>-->
        <!--<td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo (Kinder und Jugendliche bis 15 Jahre)</a> </td>-->
    <!--</tr>-->
    <tr>
        <td>28.08.2018</td>
        <td><a href="https://www.xing.com/events/hacktalk-braunschweig-testdatengenerator-beispiele-1979148/" target="_blank">HackTalk Braunschweig: Testdatengeneratoren Beispielimplementierung(en)</a> </td>
    </tr>
    <tr>
    <td>29.08.2018</td>
    <td><a href="https://dotnet-bs.de/?event=bubbles-dont-crash-softwareentwurf-mit-flow-design&event_date=2018-08-29" target="_blank">.NET Developer Group Braunschweig: Bubbles don’t crash – Softwareentwurf mit Flow Design</a>
        <br />
        <a href="https://www.meetup.com/de-DE/Braunschweig-Cpp-Meetup/events/253369973/" target="_blank">Braunschweig C++ Meetup: 04: Boost.MultiIndex and Reimplementing a DOS game in modern C++</a>
        <br />
        <a href="https://www.meetup.com/de-DE/Braunschweig-Artificial-Intelligence-Meetup/events/253896483/" target="_blank">Braunschweig Artificial Intelligence Meetup</a>
    </td>
    </tr>
    <tr>
        <td>06.09.2018</td>
        <td><a href="https://www.jug-ostfalen.de/event/2018/09/06/selbstmanagement-software-craftsmen.html" target="_blank">JUG Ostfalen: Selbstmanagement 42.0</a> </td>
    </tr>
    <tr>
        <td>07.09.2018</td>
        <td><a href="https://ms-wissenschaft.de/ausstellung/veranstaltungen/barcamp-future-works/" target="_blank">Barcamp: Future Works</a> </td>
    </tr>
    <tr>
    <td>10.09.2018</td>
    <td><a href="https://www.meetup.com/de-DE/Software-Craftsmanship-Brunswick/events/gzhqbpyxmbnb/" target="_blank">Software Craftsmanship Brunswick Coding Dojo - Kata</a> </td>
    </tr>
    <tr>
        <td>12.09.2018</td>
        <td><a href="https://www.msg-david.de/news/einladung-zum-msg-david-scrum-day" target="_blank">msg DAVID: Scrum Day</a> </td>
    </tr>
    <tr>
        <td>14.09.2018</td>
        <td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>
    </tr>
    <tr>
        <td>18.09.2018</td>
        <td><a href="http://royaljs.de" target="_blank">RoyalJS #4</a> </td>
    </tr>
    <tr>
        <td>20.09.2018</td>
        <td><a href="https://www.msg-david.de/news/kick-it-cup-2018" target="_blank">msg DAVID: Kick IT Cup 2018</a></td>
    </tr>
    <tr>
        <td>22.09.2018</td>
        <td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo (Kinder und Jugendliche bis 15 Jahre)</a>
        <br />
        <a href="https://www.meetup.com/de-DE/GDG-Braunschweig/events/253778495/" target="_blank">GDG Braunschweig: Flutter Study Jam</a> </td>
    </tr>
    <tr>
        <td>14.10.2018</td>
        <td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>
    </tr>
    <tr>
        <td>20.10.2018</td>
        <td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo (Kinder und Jugendliche bis 15 Jahre)</a> </td>
    </tr>
    <tr>
        <td>14.11.2018</td>
        <td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>
    </tr>
    <tr>
        <td>17.11.2018</td>
        <td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo (Kinder und Jugendliche bis 15 Jahre)</a> </td>
    </tr>
    <tr>
        <td>14.12.2018</td>
        <td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>
    </tr>
</table>
<p>
    <b><a href="mailto:steven@stevenschwenke.de">Neue Veranstaltung melden</a></b>
</p>
