<h2>Aktuelle Veranstaltungen</h2>
<p>
    Hier findest du eine Übersicht der anstehenden Veranstaltungen aller Gruppen in Braunschweig.
</p>
<table class="table table-responsive">
    <tr>
        <th>Datum</th>
        <th>Event</th>
    </tr>
    <!--<tr>-->
        <!--<td>12.03.2018</td>-->
        <!--<td><a href="https://www.meetup.com/de-DE/Software-Craftsmanship-Brunswick/events/gzhqbpyxfbqb/" target="_blank">Coding Dojo - Kata</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>15.03.2018</td>-->
        <!--<td><a href="http://www.jug-ostfalen.de/event/2018/03/15/ddd.html" target="_blank">It's all about the domain, honey – Fachliche Architektur für Java mit DDD</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>05.04.2018</td>-->
        <!--<td><a href="http://www.jug-ostfalen.de/event/2018/04/05/garbage-collector.html" target="_blank">Shenandoah - ultra-low pause time garbage collector</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>09.04.2018</td>-->
        <!--<td><a href="https://www.meetup.com/de-DE/Software-Craftsmanship-Brunswick/events/gzhqbpyxgbmb/" target="_blank">Software Craftsmanship Brunswick Coding Dojo - Kata</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>10.04.2018</td>-->
        <!--<td><a href="http://dotnet-bs.de/?event=usability-faengt-mit-requirements-engineering-an-katz-maus-smartes-anforderungsmanagement-mit-agilen-methoden&event_date=2018-04-10" target="_blank">.NET Developer Group Braunschweig: Usability fängt mit Requirements Engineering an | Katz & Maus – Smartes Anforderungsmanagement mit agilen Methoden</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>21.04.2018</td>-->
        <!--<td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo</a> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>24.04.2018</td>-->
        <!--<td><a href="https://www.xing.com/events/hacktalk-braunschweig-angular-jhipster-royaljs-bs-1938792" target="_blank">HackTalk Braunschweig: JHipster und Angular + RoyalJS, die JavaScript User Group in Braunschweig</a> </td>-->
    <!--</tr>-->
    <tr>
        <td>03.05.2018</td>
        <td><a href="https://www.meetup.com/de-DE/Braunschweig-Artificial-Intelligence-Meetup/events/249826802/" target="_blank">Second Braunschweig AI Meetup</a></td>
    </tr>
    <tr>
        <td>08.05.2018</td>
        <td>
            <a href="https://www.xing.com/events/hacktalk-wolfsburg-dsgvo-software-engineering-ostfalia-1933830" target="_blank">HackTalk Wolfsburg: DSGVO + Software Engineering an der Ostfalia</a><br>
            <a href="https://www.meetup.com/de-DE/GDG-Braunschweig/events/248972231/" target="_blank">Google I/O Extended Braunschweig</a>
        </td>
    </tr>
    <tr>
        <td>14.05.2018</td>
        <td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>
    </tr>
    <tr>
        <td>19.05.2018</td>
        <td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo</a> </td>
    </tr>
    <tr>
        <td>14.06.2018</td>
        <td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>
    </tr>
    <tr>
        <td>23.06.2018</td>
        <td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo</a> </td>
    </tr>
    <tr>
        <td>26.04.2018</td>
        <td><a href="http://www.jug-ostfalen.de/event/2018/04/26/onion.html" target="_blank">JUG Ostfalen: Vom Prototyp zum fertigen Produkt mit Spring Boot, Angular 4 und einer Onion-Architecture</a> </td>
    </tr>
    <tr>
        <td>14.07.2018</td>
        <td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>
    </tr>
    <tr>
        <td>21.07.2018</td>
        <td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo</a> </td>
    </tr>
    <tr>
        <td>14.08.2018</td>
        <td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>
    </tr>
    <tr>
        <td>18.08.2018</td>
        <td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo</a> </td>
    </tr>
    <tr>
        <td>14.09.2018</td>
        <td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>
    </tr>
    <tr>
        <td>22.09.2018</td>
        <td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo</a> </td>
    </tr>
    <tr>
        <td>14.10.2018</td>
        <td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>
    </tr>
    <tr>
        <td>20.10.2018</td>
        <td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo</a> </td>
    </tr>
    <tr>
        <td>14.11.2018</td>
        <td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>
    </tr>
    <tr>
        <td>17.11.2018</td>
        <td><a href="https://stratum0.org/wiki/CoderDojo" target="_blank">Stratum 0 Coder Dojo</a> </td>
    </tr>
    <tr>
        <td>14.12.2018</td>
        <td><a href="https://stratum0.org/wiki/Vorträge" target="_blank">Jeden 14. eines Monats stattfindende Vorträge im Stratum0.</a> </td>
    </tr>
</table>
<p>
    <b><a href="mailto:steven@stevenschwenke.de">Neue Veranstaltung melden</a></b>
</p>
