<h2>Lokale Gruppierungen</h2>
Reihenfolge alphabetisch.

<table>
    <tr>
        <th>Gruppe</th>
        <th>Beschreibung</th>
    </tr>
    <tr>
        <td>
            <a href="http://dotnet-bs.de" target="_blank">.NET Developer Group Braunschweig</a>
        </td>
        <td>
            Lokale .NET User Group. Monatliche Vorträge.
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://hacktalk.de/" target="_blank">HackTalk</a>
        </td>
        <td>
            Monatlich stattfindende Treffen in kleinem Kreis mit 4 bis 15 Besuchern. Es gibt immer einen oder zwei Vorträge, über die im Anschluss geredet wird. Besonderheit: "Lean Forward", im Mittelpunkt steht der Austausch miteinander.
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.jug-ostfalen.de" target="_blank">JUG Ostfalen</a>
        </td>
        <td>
            Lokale Java User Group. Monatliche Vorträge mit teilweise vielen Besuchern (> 60).
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://royaljs.de" target="_blank">Royal JS</a>
        </td>
        <td>
            Lokale Java Script User Group.
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.meetup.com/de-DE/Software-Craftsmanship-Brunswick/" target="_blank">Software Craftsmanship Brunswick</a>
        </td>
        <td>
            Regelmäßig stattfindende Coding Katas.
        </td>
    </tr>
</table>

<h3>Regeltermine</h3>
Hier findest du eine Übersicht über die Regeltermine der verschiedenen Gruppierungen. Einige Gruppen treffen sich jedoch unregelmäßig.
<table>
    <tr>
        <th>Montag</th>
        <th>Dienstag</th>
        <th>Mittwoch</th>
        <th>Donnerstag</th>
        <th>Freitag</th>
    </tr>
    <tr>
        <td>
            <!-- Montag -->
            2. im Monat: <a href="https://www.meetup.com/de-DE/Software-Craftsmanship-Brunswick/" target="_blank">Software Craftsmanship Brunswick</a>, 18:00
        </td>
        <td>
            <!-- Dienstag -->
            letzter im Monat: <a href="https://hacktalk.de/" target="_blank">HackTalk</a>, 17:00 - 19:00
        </td>
        <td>
            <!-- Mittwoch -->
        </td>
        <td>
            <!-- Donnerstag -->
            2. im Monat: <a href="http://www.jug-ostfalen.de" target="_blank">JUG Ostfalen</a>, 19:00
        </td>
        <td>
            <!-- Freitag -->
        </td>
</table>
