<h2>Aktuelle Konferenzen</h2>
<table class="table table-responsive">
    <tr>
        <th>Datum</th>
        <th>Konferenz</th>
        <th>Location</th>
        <th>Beschreibung</th>
    </tr>
    <tr>
        <td>
            13.09.2018
        </td>
        <td>
            <a href="https://javaforumnord.de/" target="_blank">Java Forum Nord</a>
        </td>
        <td>
            Hannover
        </td>
        <td>
            Eintägige, Java-zentrierte Konferenz.
        </td>
    </tr>
</table>
<p>
    <b><a href="mailto:steven@stevenschwenke.de">Neue Konferenz melden</a></b>
</p>
